.border--black {
  display: inline-block;
  border: 1px solid black;
  margin: .5em;
  cursor: pointer;
}
.small-img {
  width: 15%;
}

:root {
  --dark-blue: #153B50;
  --blue: #7AA7C9;
  --light-blue: #E5F4FF;
  --light-green: #C5E0D9;
  --white: #FFF;
  --dark-grey: #6D788C;
  font-family: 'Lato', sans-serif;
}

body, nav header {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-blue);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}



/*==========*/
/*APP*/
/*==========*/
.app {
  background-color: var(--blue);
  padding-top: 100px;
  padding-bottom: 1.5em;
  min-height: 100vh;
}
.app__children {
  margin: 1em;
  background-color: var(--light-blue);
  box-shadow: 1px 4px 5px var(--dark-blue);
  padding: .8em;
}



/*==========*/
/*NAVBAR*/
/*==========*/
nav {}

  nav header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: var(--dark-blue);
  }
    nav .logo, nav .profile-pic {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    nav .logo {}
    nav .profile-pic {}

  nav main {
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--white);
    box-shadow: 1px 4px 5px var(--dark-blue);
  }
    nav main a {
      font-size: 1.8em;
      color: var(--dark-blue);
    }
    nav main a h6 {
      display: none;
    }



/*==========*/
/*LATEST*/
/*==========*/
.latest {}
  .latest h1 {
    text-align: center;
    margin: .3em;
  }

  .latest__charts {}
    .latest__charts li {
      background-color: var(--white);
      border: 1px solid var(--dark-blue);
      margin: 1em 0;
      border-radius: 8px;
    }
      .latest__charts li header {
        background-color: var(--dark-blue);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: .3em .6em;
      }
        .latest__charts li header img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
          vertical-align: middle;
        }
        .latest__charts li header h5 {
          display: inline;
          color: white;
          margin-left: 10px;
        }
      .latest__charts li main {
        display: flex;
        padding: .8em;
      }
        .latest__charts li main img {
          width: 100px;
          height: 80px;
          object-fit: cover;
        }
        .latest__charts li aside {
          margin: 0 .5em;
        }
          .latest__charts li main h3 {
            text-decoration: none;
            margin: 0;
          }
          .latest__charts li main p {
            font-size: .8em;
          }

      .latest__charts li footer {
        padding: .5em .8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: var(--dark-grey);
      }
        .latest__charts li footer h5,
        .latest__charts li footer h4 {
          margin: 0;
        }
        .latest__charts li footer i {}

.search-chart {
  text-align: center;
  margin: 1.5em;
}
  .search-chart__input {
    display: inline-block;
    position: relative;
  }
    .search-chart__input input {
      box-sizing: border-box;
      border: 1px solid var(--dark-blue);
      width: 180px;
      height: 25px;
      padding: 0 .2em;
      border-radius: 3px;
    }
    .search-chart__input i {
      border-top-right-radius: 3px;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      height: 25px;
      width: 25px;
      padding: .2em;
      background-color: var(--dark-blue);
      color: var(--white);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .search-chart__input ul {
      position: absolute;
      top: 25px;
      left: 0;
      text-align: left;
      width: 180px;
      background-color: var(--white);
    }
      .search-chart__input li {
        border-left: 1px solid var(--dark-blue);
        border-right: 1px solid var(--dark-blue);
        padding: .5em .3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .search-chart__input li:last-child {
        border-bottom: 1px solid var(--dark-blue);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
        .search-chart__input img {
          vertical-align: middle;
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        .search-chart__input li h6 {
          display: inline;
          margin-left: .4em;
          font-size: .85em;
        }


  .search-chart__radio {
    display: inline-flex;
    flex-flow: column;
    margin-left: 1em;
    vertical-align: top;
  }
    .search-chart__radio label {
      text-align: left;
    }
    .search-chart__radio input {
      margin: .4em;
    }



@media screen and (min-width: 1024px){

  .app__children {
    margin-left: 20em;
    margin-right: 2em;
    padding: 2em;
  }


  /*==========*/
  /*NAVBAR*/
  /*==========*/
  nav header {
    padding: .8em 2em;
  }
    nav .logo, nav .profile-pic {
      width: 60px;
      height: 60px;
    }

  nav main {
    top: 18%;
    left: 1em;
    width: 15em;
    height: inherit;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 1px 4px 5px var(--dark-blue);
  }
  nav main a {
    margin: 0 1em;
  }
  nav main a i {
    vertical-align: middle;
  }
  nav main a h6 {
    display: inline-block;
    margin: 1.8em;
  }



  /*==========*/
  /*LATEST*/
  /*==========*/
  .latest {
    font-size: 22px;
  }
    .latest li main img {
      width: 140px;
      height: 110px;
    }
      .latest li aside {
        margin: 0 .8em;
      }

  .search-chart {}
    .search-chart__input input {
      width: 300px;
      height: 40px;
    }
    .search-chart__input i {
      width: 40px;
      height: 40px;
      padding: .4em;
    }

    .search-chart__input ul {
      top: 40px;
      width: 300px;
    }




}
