.border--black {
  display: inline-block;
  border: 1px solid black;
  margin: .5em;
  cursor: pointer;
}
.small-img {
  width: 15%;
}
.active {
  color: red;
}


:root {
  --dark-blue: #153B50;
  --blue: #7AA7C9;
  --light-blue: #E5F4FF;
  --light-green: #C5E0D9;
  --white: #FFF;
  --dark-grey: #6D788C;
  font-family: 'Lato', sans-serif;
}

body, nav header {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-blue);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}



/*==========*/
/*APP*/
/*==========*/
.app {
  background-color: var(--blue);
  padding-top: 100px;
  padding-bottom: 1.5em;
  min-height: 100vh;
}
.app__children {
  margin: 1em;
  background-color: var(--light-blue);
  box-shadow: 1px 4px 5px var(--dark-blue);
  padding: .8em;
}



/*==========*/
/*NAVBAR*/
/*==========*/
nav {}

  nav header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: var(--dark-blue);
  }
    nav .logo, nav .profile-pic {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    nav .logo {}
    nav .profile-pic {}

  nav main {
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--white);
    box-shadow: 1px 4px 5px var(--dark-blue);
  }
    nav main a {
      font-size: 1.8em;
      color: var(--dark-blue);
    }
    nav main a h6 {
      display: none;
    }



/*==========*/
/*LATEST*/
/*==========*/
.latest {}
  .latest h1 {
    text-align: center;
    margin: .3em;
  }

  .latest__charts {}
    .latest__charts li {
      background-color: var(--white);
      border: 1px solid var(--dark-blue);
      margin: 1em 0;
      border-radius: 8px;
    }
      .latest__charts li header {
        background-color: var(--dark-blue);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: .3em .6em;
      }
        .latest__charts li header img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
          vertical-align: middle;
        }
        .latest__charts li header h5 {
          display: inline;
          color: white;
          margin-left: 10px;
        }
      .latest__charts li main {
        display: flex;
        padding: .8em;
      }
        .latest__charts li main img {
          width: 100px;
          height: 80px;
          object-fit: cover;
        }
        .latest__charts li aside {
          margin: 0 .5em;
        }
          .latest__charts li main h3 {
            text-decoration: none;
            margin: 0;
          }
          .latest__charts li main p {
            font-size: .8em;
          }

      .latest__charts li footer {
        padding: .5em .8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: var(--dark-grey);
      }
        .latest__charts li footer h5,
        .latest__charts li footer h4 {
          margin: 0;
        }
        .latest__charts li footer i {}



/*==========*/
/*SEARCH-CHART*/
/*==========*/
.search-chart {
  text-align: center;
  margin: 1.5em;
}
  .search-chart__input {
    display: inline-block;
    position: relative;
  }
    .search-chart__input input {
      box-sizing: border-box;
      border: 1px solid var(--dark-blue);
      width: 180px;
      height: 25px;
      padding: 0 .2em;
      border-radius: 5px;
    }
    .search-chart__input i {
      border-top-right-radius: 3px;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      height: 25px;
      width: 25px;
      padding: .2em;
      background-color: var(--dark-blue);
      color: var(--white);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .search-chart__input ul {
      position: absolute;
      top: 25px;
      left: 0;
      text-align: left;
      width: 180px;
      background-color: var(--white);
    }
      .search-chart__input li {
        border-left: 1px solid var(--dark-blue);
        border-right: 1px solid var(--dark-blue);
        padding: .5em .3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .search-chart__input li:last-child {
        border-bottom: 1px solid var(--dark-blue);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
        .search-chart__input img {
          vertical-align: middle;
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        .search-chart__input li h6 {
          display: inline;
          margin-left: .4em;
          font-size: .85em;
        }


  .search-chart__radio {
    display: inline-flex;
    flex-flow: column;
    margin-left: 1em;
    vertical-align: top;
  }
    .search-chart__radio label {
      text-align: left;
    }
    .search-chart__radio input {
      margin: .4em;
    }



/*==========*/
/*CHART-VISUALIZER*/
/*==========*/
.chart-visualizer {}
  .chart-visualizer h1 {
    text-align: center;
    margin: .3em;
  }

  .chart-visualizer__main {
    border-radius: 10px;
    background-color: var(--white);
    margin: 1em 0;
  }
    .chart-visualizer__main header {
      position: relative;
    }
      .chart-visualizer__main header img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .chart-visualizer__main header h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        padding-top: 25%;
        background-color: rgba(0,0,0,.3);
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        color: white;
      }
      .chart-visualizer__main header h6 {
        position: absolute;
        bottom: 10px;
        right: 5px;
        margin: 0;
        color: white;
      }
    .chart-visualizer__main section {
      padding: .5em;
    }
      .chart-visualizer__main section p {
        margin: .8em 0 2em;
      }
      .chart-visualizer__main section h5 {
        margin: .5em 0;
        color: var(--dark-grey);
        font-style: italic;
      }

  .chart-comments {
    background-color: var(--white);
    padding: .5em;
    border-radius: 10px;
  }
    .chart-comments h3 {
      margin: .5em 0 1em;
    }

    .chart-comments ul {
      list-style: none;
    }
      .chart-comments li {
        display: flex;
        margin: 1em 0;
      }
        .chart-comments img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 3px;
        }
        .chart-comments aside {
          margin-left: .9em;
        }
          .chart-comments h6 {
            margin: 0;
            font-size: .9em;
          }
          .chart-comments p {
            font-size: .9em;
            margin: .3em 0;
          }

    .chart-comments form {}
      .chart-comments__new {
        display: flex;
        margin-top: 1.5em;
      }
        .chart-comments__new img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 3px;
        }
        .chart-comments__new textarea {
          margin-left: .8em;
          resize: none;
          width: 100%;
          border: 1px solid var(--dark-blue);
          border-radius: 5px;
        }
      .chart-comments button {
        display: block;
        margin: .5em 0 0 auto;
        background-color: inherit;
        border: 2px solid green;
        color: green;
        padding: .3em;
        border-radius: 5px;
      }



/*==========*/
/*TABLE-VISUALIZER*/
/*==========*/
.table-visualizer {}
  .table-visualizer h1 {
    text-align: center;
    margin: .3em;
  }
  .table-visualizer h2 {
    text-align: center;
    margin: .8em;
  }

  .table-visualizer__tables {}
    .table-visualizer__tables li {}
      .table-visualizer__tables li h3 {}

  .table-visualizer__upload-btn {}

  .table-preview {
    background-color: var(--white);
    padding: 1em .5em;
    border-radius: 10px;
  }
    .table-preview header {
      display: flex;
      justify-content: space-between;
    }
      .table-preview h5 {
        color: var(--dark-grey);
        margin: 0;
      }
      .table-preview h6 {
        margin: 0;
      }
    .table-preview h3 {
      text-transform: uppercase;
      margin: .8em 0;
    }
    .table-preview p {
      font-size: .9em;
      margin: 0;
    }

    .table-preview table {
      width: 90%;
      margin: 2em auto 0;
      border: 1px solid var(--dark-blue);
      border-collapse: collapse;
    }
      .table-preview tr {}
        .table-preview th {
          background-color: rgba(255,0,0,.5);
          color: white;
          border-bottom: 1px solid var(--dark-blue);
          border-right: 1px solid var(--dark-blue);
          font-size: .85em;
        }
        .table-preview td {
          border-right: 1px solid var(--dark-blue);
          text-align: center;
          font-size: .85em;
        }



/*==========*/
/*CHART-CREATOR*/
/*==========*/
.chart-creator {
  background-color: white;
  border-radius: 10px;
}
  .chart-creator h1 {
    background-color: var(--dark-blue);
    color: white;
    margin: 0;
    padding: .2em;
    font-weight: normal;
    font-size: 1.7em;
  }
  .chart-creator h1:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .chart-creator h1:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .chart-creator__table-selector {
    padding: 0 .5em;
    text-align: center;
  }
    .chart-creator__table-selector .search-chart {
      margin: 1em .5em;
    }
    .chart-creator__table-selector h4 {
      margin: .4em;
    }
    .chart-creator__table-selector ul {
      margin-bottom: 1em;
    }
      .chart-creator__table-selector li {
        padding: .3em;
        border-bottom: 1px solid var(--dark-blue);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .chart-creator__table-selector li:last-child {
        border: none;
      }

  .chart-creator__field-selector {
    padding: 0 .5em;
    text-align: center;
  }
    .chart-creator__field-selector h4 {}

    .chart-creator__field-selector .type {
      display: flex;
      justify-content: space-around;
      padding: 1em 0;
    }
      .chart-creator__field-selector .type li {
      cursor: pointer;
      }
        .chart-creator__field-selector .type i {
          font-size: 2em;
        }

    .chart-creator__field-selector .x-axis,
    .chart-creator__field-selector .y-axis {
      width: 40%;
    }
    .chart-creator__field-selector .x-axis {
      float: right;
    }
      .chart-creator__field-selector .x-axis li,
      .chart-creator__field-selector .y-axis li {
        cursor: pointer;
        padding: .3em;
      }

    .chart-creator__field-selector button {
      border: 1px solid green;
      background-color: transparent;
      color: green;
      font-size: 1.2em;
      border-radius: 5px;
      padding: .2em .5em;
      margin: 1em;
      cursor: pointer;
    }


  .chart-creator__chart-preview {
    text-align: center;
  }
    .chart-creator__chart-preview canvas {
      margin: 2em 0;
    }
    .chart-creator__chart-preview form {
      padding: .01em;
    }
      .chart-creator__chart-preview input,
      .chart-creator__chart-preview textarea {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 1em;
        padding: .3em;
      }
      .chart-creator__chart-preview textarea {
        resize: none;
      }
      #chart-creator__chart-preview--file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      #chart-creator__chart-preview--file + label {
        position: relative;
        background-color: transparent;
        display: inline-block;
        font-size: 1.2em;
        cursor: pointer;
        color: var(--dark-blue);
        border: 1px solid var(--dark-blue);
        border-radius: 5px;
        padding: .2em .5em;
      }

      .chart-creator__chart-preview button {
        display: block;
        background-color: transparent;
        font-size: 1.2em;
        cursor: pointer;
        color: green;
        border: 1px solid green;
        border-radius: 5px;
        padding: .2em .5em;
        margin: .8em auto;
      }



/*==========*/
/*PROFILE*/
/*==========*/
.profile {
  background-color: var(--white);
  border-radius: 10px;
}
  .profile__details {
    position: relative;
    margin-bottom: 100px;
  }
    .profile img.details--background {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid var(--dark-blue);
    }
    .profile #profile-pic--file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
      .profile #profile-pic--file + label {
        cursor: pointer;
      }
        .profile img.details--profile-pic {
          position: absolute;
          width: 100%;
          left: 10px;
          top: 120px;
          border-radius: 10px;
          width: 100px;
          height: 100px;
          object-fit: cover;
          border: 2px solid var(--white);
        }
    .profile__details h4 {
      position: absolute;
      top: 140px;
      left: 120px;
      font-size: 1.75em;
    }

  .profile__list {
    padding: .5em;
    display: flex;
  }
    .profile__list h3 {
      flex: 1 40%;
    }
    .profile__list ul {
      margin-left: 1.3em;
      flex: 1 60%;
    }
      .profile__list li {}
        .profile__list h5 {
          font-size: .9em;
        }
          .profile__list h5 span {
            color: var(--dark-grey);
            font-size: 1.1em;
          }




@media screen and (min-width: 1024px){

  .app__children {
    margin-left: 20em;
    margin-right: 2em;
    padding: 2em;
  }


  /*==========*/
  /*NAVBAR*/
  /*==========*/
  nav header {
    padding: .8em 2em;
  }
    nav .logo, nav .profile-pic {
      width: 60px;
      height: 60px;
    }

  nav main {
    top: 18%;
    left: 1em;
    width: 15em;
    height: inherit;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 1px 4px 5px var(--dark-blue);
  }
  nav main a {
    margin: 0 1em;
  }
  nav main a i {
    vertical-align: middle;
  }
  nav main a h6 {
    display: inline-block;
    margin: 1.8em;
  }



  /*==========*/
  /*LATEST*/
  /*==========*/
  .latest {
    font-size: 22px;
  }
    .latest li main img {
      width: 140px;
      height: 110px;
    }
      .latest li aside {
        margin: 0 .8em;
      }

  .search-chart {}
    .search-chart__input input {
      width: 300px;
      height: 40px;
    }
    .search-chart__input i {
      width: 40px;
      height: 40px;
      padding: .4em;
    }

    .search-chart__input ul {
      top: 40px;
      width: 300px;
    }



  /*==========*/
  /*CHART-VISUALIZER*/
  /*==========*/
  .chart-visualizer {
    font-size: 20px;
  }
    .chart-visualizer__main header img {
      height: 205px;
    }
    .chart-visualizer__main section h5 {
      margin: 3em 0 1.5em;
    }



  /*==========*/
  /*TABLE-VISUALIZER*/
  /*==========*/
  .table-visualizer {
    font-size: 22px;
  }
    .table-visualizer th,
    .table-visualizer tr {
      padding: .5em;
    }



  /*==========*/
  /*CHART-CREATOR*/
  /*==========*/
  .chart-creator {
    font-size: 20px;
  }



  /*==========*/
  /*PROFILE*/
  /*==========*/
  .profile {
    font-size: 20px;
  }
    .profile__details {
      margin-bottom: 140px;
    }
      .profile img.details--background {
        height: 250px;
      }
      .profile img.details--profile-pic {
        width: 150px;
        height: 150px;
        top: 185px;
        left: 40px;
      }
      .profile__details h4 {
        top: 225px;
        left: 220px;
        font-size: 2.2em;
      }

    .profile__list h3 {
      text-align: center;
    }


}
