.chart-visualizer {}
  .chart-visualizer h1 {
    text-align: center;
    margin: .3em;
  }

  .chart-visualizer__main {
    border-radius: 10px;
    background-color: $white;
    margin: 1em 0;
    box-shadow: 1px 4px 5px $dark-blue;
  }
    .chart-visualizer__main header {
      position: relative;
    }
      .chart-visualizer__main header img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .chart-visualizer__main header h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        padding-top: 25px;
        background-color: rgba(0,0,0,.3);
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        color: white;
      }
      .chart-visualizer__main header h6 {
        position: absolute;
        bottom: 10px;
        right: 5px;
        margin: 0;
        color: white;
      }
    .chart-visualizer__main section {
      padding: .5em;
    }
      .chart-visualizer__main section p {
        margin: .8em 0 2em;
        text-align: center;
      }
      .chart-visualizer__main section h5 {
        margin: .5em 0;
        color: $dark-grey;
        font-style: italic;
      }

  .chart-comments {
    background-color: $white;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 1px 4px 5px $dark-blue;
  }
    .chart-comments h3 {
      margin: .5em 0 1em;
    }

    .chart-comments ul {
      list-style: none;
    }
      .chart-comments li {
        display: flex;
        margin: 1em 0;
      }
        .chart-comments img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 3px;
        }
        .chart-comments article {
          margin-left: .9em;
          flex-grow: 1;
          border-bottom: 1px solid $dark-blue;
        }
          .chart-comments h6 {
            margin: 0;
            font-size: .9em;
          }
          .chart-comments p {
            font-size: .9em;
            margin: .3em 0;
          }
          .chart-comments h5 {
            text-align: right;
            color: $dark-grey;
            margin: .8em;
          }

    .chart-comments form {}
      .chart-comments__new {
        display: flex;
        margin-top: 1.5em;
      }
        .chart-comments__new img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 3px;
        }
        .chart-comments__new textarea {
          margin-left: .8em;
          resize: none;
          width: 100%;
          border: 1px solid $dark-blue;
          border-radius: 5px;
        }
      .chart-comments button {
        display: block;
        margin: .8em 0 0 auto;
        background-color: inherit;
        color: green;
        padding: .3em;
        border-radius: 5px;
        border: none;
        border-bottom: 2px solid green;
      }



@media (min-width: 1024px){

  .chart-visualizer {
    font-size: 20px;
  }
    .chart-visualizer__main header img {
      height: 350px;
    }
    .chart-visualizer__main header h2 {
      height: 350px;
      padding-top: 50px;
    }
    .chart-visualizer__main section h5 {
      margin: 3em 0 1.5em;
    }

}
